/* allproduct.css */

/* Ensure container and grid styles are consistent */
.product-container {
    overflow: hidden;
    background-color: transparent; /* Matched to product-container in productcard.css */
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow */
    transition: box-shadow 0.3s ease-in-out;
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.product-container:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Bigger shadow on hover */
}

.product-image {
    width: 100%;
    height: 240px; /* Adjusted height to match product-image in productcard.css */
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.product-details {
    padding: 1rem;
    background-color: #000000; /* Dark background color */
    border-radius: 0 0 0.5rem 0.5rem;
}

.product-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff; /* White text color */
    margin-bottom: 0.5rem; /* Adjusted margin */
}

.product-date {
    font-size: 0.875rem;
    color: #777777; /* Lighter text color */
}

.product-description {
    font-size: 0.875rem;
    color: #ffffff; /* White text color */
    margin-top: 0.5rem;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.update-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.978rem;
    font-weight: bold;
    color: #000000; /* Matched to the brand overlay text color */
    background-color: #ffb30f;
    border-radius: 0.98rem; /* Matched to the brand overlay */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.update-button:hover {
    background-color: #e4a91d; /* Darker background on hover */
}

.product-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff; /* White text color */
}
